/*stylesheet for dog rescue*/

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

/************* NAV *************/ 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.main {
    height: 610px;
    text-align: center;
    background-image: url("../images/banner-image2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}


#title {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    color: #fff;
    padding-top: 12%;
    margin-bottom: -2%;
}

#subtitle {
    margin-top: 0%;
    color: #fff;
    font-size: 22px;
    font-family: 'Itim', sans-serif;
}

/*********** ABOUT **********/
/***************************/

#about-title {
    font-family: 'Itim', sans-serif;
    font-size: 50px;
    padding-top: 7%;
    text-align: center;
    color: #000;
}

.about {
    text-align: justify;
    height:550px;
    padding: 0 20% 0 20%;
    color: #000;
    margin-top: -10px;
}


#img-about {
    width: 50%;
    max-height: 50%;
}

/****** SLIDESHOW *******/
/***********************/

#slideshow-title {
    font-family: 'Itim', cursive;
    font-size: 50px;
    padding-top: 3%;
    text-align: center;
    color: #000;
}


/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    
}

.slideshow {
    margin-top: -30px;
    padding-top: 0;
    margin-bottom: 10%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}


/************ ABOUT US **************/
/**********************************/

#aboutus-title {
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    text-align: center;
    padding-top: 10%;
    color: #fff;
    
}

.about-header {
    height: 450px;
    background-image: url(../images/aboutus-banner.jpg);
}

/************ BLOCKQUOTE ************/
/***********************************/

/* center the blockquote in the page */
.blockquote-wrapper {
   display: flex;
   height: 100vh;
   padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 620px;
    margin: 40px auto;
    align-self: center;
}

/* Blockquote header */
.blockquote h1 {
    font-family: 'Montserrat', sans-serif;
    position: relative; /* for pseudos */
    color: #000;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: 2px solid #000;
    border: solid 2px;
    border-radius:20px;
    padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
    content:"";
    position: absolute;
    border: 2px solid #000;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -62px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3; 
}

.blockquote h1:before {
    content:"";
    position: absolute;
    width: 80px;
    border: 6px solid #fff;
    bottom: -3px;
    left: 50px;
    z-index: 2;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 3rem;
        line-height: 1.2;
   }

}

/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #000;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left:150px;
    padding-left:12px;
}

/************ ABOUT US INFO ************/
/***********************************/

.about-info {
    margin: 5% 25% -5%;
}

#about-info-title {
    font-size: 50px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}





