/*stylesheet for dog rescue*/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/************* NAV *************/ 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.main {
    height: 610px;
    text-align: center;
    background-image: url("images/banner-image2.png");
    margin-top: -50px;
}


#title {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    color: #fff;
    padding-top: 12%;
    margin-bottom: -2%;
}

#subtitle {
    margin-top: 0%;
    color: #fff;
    font-size: 22px;
    font-family: 'Itim', sans-serif;
}

/*********** ABOUT **********/
/***************************/

#about-title {
    font-family: 'Itim', sans-serif;
    font-size: 50px;
    padding-top: 7%;
    text-align: center;
    color: #fff;
}

.about {
    text-align: justify;
    height:550px;
    background-color: #ec644b;
    padding: 0 20% 0 20%;
    color: fff;
    margin-top: -30px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f1e7fe;
  border: none;
  color: #ec644b;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/****** SLIDESHOW *******/
/***********************/

#slideshow-title {
    font-family: 'Itim', cursive;
    font-size: 50px;
    padding-top: 3%;
    text-align: center;
    color: #fff;
}


/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    
}

.slideshow {
    background-color: #d2527f;
    margin-top: -30px;
    padding-top: 0;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/************ FOOTER **************/

.footer {
    height: 300px;
    background-color: aliceblue;
}

/************ ABOUT US **************/
/**********************************/

#aboutus-title {
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    text-align: center;
    padding-top: 10%;
    
}

.about-header {
    height: 400px;
    background-color: aqua;
}

/************ ADOPT **************/
/**********************************/




